<div class="col-md-7 mx-auto mt-4">
  {{!-- month select dropdowns  --}}
  <div class="mb-5 text-center d-flex">
    <div class="dropdown mx-auto">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        {{#if showMonth}}
        {{showMonth}}
        {{else}}
        月份(全部)
        {{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" href="/screen?month=-01-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">一月</a>
        <a class="dropdown-item" href="/screen?month=-02-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">二月</a>
        <a class="dropdown-item" href="/screen?month=-03-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">三月</a>
        <a class="dropdown-item" href="/screen?month=-04-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">四月</a>
        <a class="dropdown-item" href="/screen?month=-05-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">五月</a>
        <a class="dropdown-item" href="/screen?month=-06-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">六月</a>
        <a class="dropdown-item" href="/screen?month=-07-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">七月</a>
        <a class="dropdown-item" href="/screen?month=-08-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">八月</a>
        <a class="dropdown-item" href="/screen?month=-09-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">九月</a>
        <a class="dropdown-item" href="/screen?month=-10-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">十月</a>
        <a class="dropdown-item" href="/screen?month=-11-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">十一月</a>
        <a class="dropdown-item" href="/screen?month=-12-&cat={{{selectCategory}}}&sort={{{selectOrder}}}">十二月</a>
        <a class="dropdown-item" href="/screen?month=&cat={{{selectCategory}}}&sort={{{selectOrder}}}">全部月份</a>
      </div>
    </div>
    {{!-- category select dropdowns  --}}
    <div class="dropdown mx-auto">
      <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{#if showCategory}}
        {{showCategory}}
        {{else}}
        類別(全部)
        {{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat=life&sort={{{selectOrder}}}">家居物業</a>
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat=travel&sort={{{selectOrder}}}">交通出行</a>
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat=happy&sort={{{selectOrder}}}">休閒娛樂</a>
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat=food&sort={{{selectOrder}}}">餐飲食品</a>
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat=others&sort={{{selectOrder}}}">其他</a>
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat=&sort={{{selectOrder}}}">全部類別</a>
      </div>
    </div>
    {{!-- sorting select dropdowns  --}}
    <div class="dropdown mx-auto">
      <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{#if showOrder}}
        {{{showOrder}}}
        {{else}}
        時間或金額排序
        {{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat={{{selectCategory}}}&sort=dateAsc">時間
          (舊->新)</a>
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat={{{selectCategory}}}&sort=dateDesc">時間
          (新->舊)</a>
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat={{{selectCategory}}}&sort=amountDesc">金額
          (多->少)</a>
        <a class="dropdown-item" href="/screen?month={{{selectMonth}}}&cat={{{selectCategory}}}&sort=amountAsc">金額
          (少->多)</a>
      </div>
    </div>
  </div>

  {{!-- total amount --}}
  <div class="d-flex flex-column mb-4">
    <h4 class="mx-auto totalA">總金額 :</h4>
    <h2 class="mx-auto" id="total">{{{total}}}</h2>
  </div>

  {{!-- add new one button--}}
  <div class="text-center">
    <a href="/records/new" class="btn w-50 mb-3 p-0 addbtn">
      新增支出
    </a>
  </div>

  {{!-- expense list --}}
  <table class="table mb-5">
    {{#each records}}
    <tbody class="col-md-12 m-auto">
      <tr>
        <th scope="row" class="text-center">
          <i class="{{{this.icon}}} icon"></i>
        </th>
        <td>
          <div class="colum pt-1">
            <h5>{{{this.name}}}</h5>
            <p class="date my-1">{{{this.date}}}</p>
          </div>
        </td>
        <td class="align-middle amount">
          <h4>${{{this.amount}}}</h4>
        </td>
        <td class="d-flex justify-content-end pt-4">
          <a href="/records/{{{this.id}}}/edit" class="btn btn-success my-1 mr-1">修改</a>
          <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger my-1">刪除</button>
          </form>
        </td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>